@{
    ViewBag.Title = "Setting Index";
}

<link href="~/css/plugin/iCheck/custom.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/clockpicker.css" />
<div class="box" id="updateSettingdiv">
    <div class="box-header">
        <div class="row">
            <div class="col-xs-2">
                <h2 class="box-title">
                    <i class="fa fa-wrench">
                    </i> Settings
                </h2>
            </div>
            <div class="col-xs-10"></div>
        </div><!-- /.box-header -->
    </div>
    <div class="box-body">
        <br />
        <div class="row">
            <div class="col-lg-2">
                <h3>
                    <span id="companyId" data-companyid="1">Shift</span>
                </h3>
            </div>
        </div>
        <br />
        <div id="updateShiftSetting">
            <div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <label>
                            Morning
                        </label>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2">
                        <input type="checkbox" name="Morning" class="i-checks">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="input-group clockpicker hidden" id="morning-start-time">
                            <input type="text" name="morning_start_time" class="form-control" placeholder="Start Time">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-time"></span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="input-group clockpicker hidden" id="morning-end-time">
                            <input type="text" name="morning_end_time" class="form-control" placeholder="End Time">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-time"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <label>
                            Afternoon
                        </label>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2">
                        <input type="checkbox" name="Afternoon" class="i-checks" />
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="input-group clockpicker hidden" id="afternoon-start-time">
                            <input type="text" name="afternoon_start_time" class="form-control" placeholder="Start Time">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-time"></span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="input-group clockpicker hidden" id="afternoon-end-time">
                            <input type="text" name="afternoon_end_time" class="form-control" placeholder="End Time">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-time"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <label>
                            Evening
                        </label>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2">
                        <input type="checkbox" name="Evening" class="i-checks" />
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="input-group clockpicker hidden" id="evening-start-time">
                            <input type="text" name="evening_start_time" class="form-control" placeholder="Start Time">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-time"></span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="input-group clockpicker hidden" id="evening-end-time">
                            <input type="text" name="evening_end_time" class="form-control" placeholder="End Time">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-time"></span>
                            </span>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <label>
                            Night
                        </label>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2">
                        <input type="checkbox" name="Night" class="i-checks" />
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="input-group clockpicker hidden" id="night-start-time">
                            <input type="text" name="night_start_time" class="form-control" placeholder="Start Time">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-time"></span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="input-group clockpicker hidden" id="night-end-time">
                            <input type="text" name="night_end_time" class="form-control" placeholder="End Time">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-time"></span>
                            </span>
                        </div>
                    </div>

                </div>
                <br />
                <div class="row">
                    <div class="col-lg-1">

                    </div>
                    <div class="col-lg-3">
                        <input type="button" class="btn btn-success" value="Update Shift Settings" onclick="return UpdateSetting()" />
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-4">
                <h3>
                    <span>Salary Deduction</span>
                </h3>
            </div>
        </div>
        <br />
        <div id="updateSalarySetting">
            <div class="row">
                <div class="col-lg-3">
                    <label>
                        1 Day salary deduct =
                    </label>
                </div>
                <div class="col-lg-3">
                    <input type="text" placeholder="i.e: 1" name="NoOfDays" style="text-align: center;" />
                </div>
                <div class="col-lg-3">
                    <label>
                        No of Days
                    </label>
                </div>
            </div>

            <br />
            <div class="row">
                <div class="col-lg-3">
                    <label>
                        1 Day salary deduct =
                    </label>
                </div>
                <div class="col-lg-3">
                    <input type="text" placeholder="i.e: 1" name="NoOfHalfDays" style="text-align: center;" />
                </div>
                <div class="col-lg-3">
                    <label>
                        No of half Days
                    </label>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-3">
                    <label>
                        1 Day salary deduct =
                    </label>
                </div>
                <div class="col-lg-3">
                    <input type="text" placeholder="i.e: 1" name="NoOfLateDays" style="text-align: center;" />
                </div>
                <div class="col-lg-3">
                    <label>
                        No of Late Days
                    </label>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-1">

                </div>
                <div class="col-lg-3">
                    <input type="button" class="btn btn-success" value="Update Salary Deduction Settings" onclick="return UpdateSalarySetting()" />
                </div>
            </div>
        </div>

        <br />
        <div class="row">
            <div class="col-lg-4">
                <h3>
                    <span>Currency</span>
                </h3>
            </div>
        </div>
        <br />
        <div id="updateCurrencySetting">
            <div class="row">
                <div class="col-lg-4">
                    <select class="form-control selectedCurrency">
                        <option value="1">Pkr</option>
                        <option value="2">US Dollar</option>
                        <option value="3">Euro</option>
                    </select>
                </div>
            </div>
            <br />
            <div class="row">
                @*<div class="col-lg-1">

                </div>*@
                <div class="col-lg-3">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-9">
                        <input type="button" class="btn btn-success" value="Update Currency Settings" onclick="return UpdateCurrencySetting()" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <br />
    </div>
</div>

@section scripts {
    <script src="~/Scripts/Plugins/clockPicker/clockpicker.js"></script>
    <script src="~/Scripts/Custom/Setting.js"></script>
    <script src="~/Scripts/Custom/uniquevalidation.js"></script>
    <script src="~/Scripts/Plugins/iCheck/icheck.min.js"></script>
    <script src="~/Scripts/Custom/constant.js"></script>
    <script>
        $(document).ready(function () {
            bindDateTime();
            $('.i-checks').on('ifChanged', function (event) {
                checkBoxClick(event.target);
            });
            Trigger();
        });

    </script>
    <script>
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green'
        });
    </script>

}



