@{
    ViewBag.Title = "Payment Details";
}

<h2>AttDetails</h2>
<link href="~/css/plugin/datepicker/daterangepicker.css" rel="stylesheet" />
<div class="box">
    <div class="box-header">
        <div class="row">
            <div class="col-xs-2"> <h3 class="box-title"><i class="fa fa-group"></i>Payment Details Per Employee</h3></div>
            <div class="col-xs-10"></div>
        </div><!-- /.box-header -->
    </div>
    <!-- form start -->

    <div class="box-body">
        <div class="row">
            <div class="col-lg-7">
            </div>
            <div class="col-lg-3">
                <input value="Generate Pay" type="button" class="btn btn-success" onclick="return GeneratePaySlip(this)" />
            </div>
            <div class="col-lg-2">
                <input type="text" id="paymentdetailrange" name="daterange" value="01/01/2018 - 01/15/2018" />
            </div>
        </div>
        <table id="listPaymentEmptb" class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Employee Name</th>
                    <th>Check-in Time</th>
                    <th>Check-out Time</th>
                    <th>Time off</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div><!-- Body -->

</div><!-- /.box -->
@section scripts {
    <script src="~/Scripts/Plugins/FileSaver.js"></script>
    <script src="~/Scripts/Custom/PaymentGenerationDetail.js"></script>
    <script src="~/Scripts/Plugins/datepicker/daterangepicker.min.js"></script>
    <script src="~/Scripts/Custom/uniquevalidation.js"></script>
    <script src="~/Scripts/Custom/constant.js"></script>
    <script>
        $(document).ready(function () {
            Trigger();
        });
    </script>
}

